*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
#app{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background-image: url("slika/pozadina_chat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    /* width: 100%; */
    padding-top: 10px;  
    background-color: white; 
}
header h1{
    font-size: 2rem;
    color: rgb(136, 3, 185);
    letter-spacing: 3px;
    filter: drop-shadow(3px 2px 2px rgb(24, 24, 24));
}
header h2{
    font-size: 1.4rem;
    color: rgb(136, 3, 185);
    margin-top: 10px;
    filter: drop-shadow(3px 2px 2px rgb(24, 24, 24));
}

nav{
    /* width: 100%; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
nav button{
    width: 22%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(136, 3, 185);
    color: white;
}

section{
    padding: 10px;
    height: 50vh;
}
ul{
    width: 95%;
    height: 90%;
    list-style: none;
    /* padding: 10px; */
    overflow-y: scroll;
}
li{
    width: 60%;
    background-color: rgb(236, 173, 255);
    margin-bottom: 10px;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    text-align: left;
}
.trenutniUser{
    margin-left: auto;
    background-color: khaki;
}
.username{
    color: rgb(104, 21, 112);
    font-weight: bold;
    letter-spacing: 2px;
}
.message{
    color: blueviolet;
}
.date{
    color: rgb(26, 83, 26);
}

footer{
    width: 100%;
    /* height: fit-content; */
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
footer div{
    margin: auto;
    margin-bottom: 10px;
}
footer div input{
    width: 60%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}
footer div button{
    width: 100px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(136, 3, 185);
    color: white;
}

button:hover{
    background-color: rgb(32, 0, 43);
    transform: scale(0.9);
    border: 2px solid rgb(255, 222, 32);
    color: rgb(255, 222, 32);
    font-size: 1rem;
}
#updateUser{
    color:  rgb(136, 3, 185);
    font-size: 1rem;
}
@media only screen and (max-width:800px){
    #app{
        position: relative;
        width: 80%;
        margin: auto;
        /* overflow: hidden; */
    }
    nav{
        width: 100%; 
    }
   section{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}

@media only screen and (min-width:230px) and (max-width:520px) {
    #app{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    header h1{
        font-size: 1.5rem;
        letter-spacing: normal;
    }
    nav{
        width: 100%;
        height: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 1rem;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav button{
        width: 100px;
    }
    section{
        width: 100%;
        padding: 10px;
        height: 55vh;
        background: transparent;
    }
    ul{
        width: 90%;
        height: 100%;
    }
    li{
        width: 70%;
    }
    footer{
        width: 100%;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer div input{
        font-size: .8rem;
        width: 50%;
    }
    footer div button{
        width: 60px;
    }
}


